/* 全局变量 */
* {
  /* 颜色 */
  --primary-color: #6345b9;

  /* 尺寸 */
  --header-height: 36px;
  --app-view-margin: 4px;
  --app-view-padding: 12px;
}

/* 
 * 常用样式
 */
.none {
  display: none;
}
.pointer {
  cursor: pointer;
}
.flex-1 {
  flex: 1;
}

.line-clamp-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-clamp-2 {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.position-relative {
  position: relative;
}
